*{
    margin:0;
    padding:0;
}

.header1{
    background-image:url(bg.jpg);
    height:785px;
    background-size:cover;
    background-position: center;
    background-color: rgba(0, 0, 0,0.2);
    background-blend-mode:darken;
}
.header2{
    background-image:url(bg.jpg);
    height:100px;
    background-size:cover;
    background-position: center;
    background-color: rgba(0, 0, 0,0.4);
    background-blend-mode:darken;
}

.nav-bar{
    background: rgb(0,0,0,0.5);
    /*height:80px;*/
}

.logo{
    margin:10px 50px;
    height:75px;
}
.profile{
    margin:0px 8px;
    height:30px;
}

.menu{
    float:right;
    list-style:none;
    margin:38px;
}

.menu li{
    display: inline-block;
    margin:0px 5px;
}

.menu li a{
    text-decoration:none;
    color: #fff;
    padding:5px 10px;
    font-family:sans-serif;
    letter-spacing:2px;
    border:1px solid #fff;

}

.menu li a:hover{
    background: #fff;
    transition: .4s;
    color: #000;
}

.welcome{
    position:relative;
    top:250px;
    text-align:center;
    font-family:sans-serif;
    color: #fff;
    font-size: 40px;
    text-shadow:1px 1px 15px #000000;
}

body{
    background-color: rgb(255, 246, 235);
    color: rgb(255, 246, 235);
    font-family: sans-serif;
}

.mainH1{
    color: rgb(0, 0, 0);
    text-align: center;
}

.centerAlign{
    width: 75%;
    margin: auto;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    background-color: white;
    width: 30%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 1px solid rgb(226, 226, 226); /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    box-shadow: 0.3px 0.3px 2px;
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    position: relative;
    top: 8px;
    border: 1px solid #ddd; /* Add a grey border */
    background-color: white;
    font-size: 18px; /* Increase font-size */
    color:black;
    font-family: sans-serif;
    box-shadow: 0.3px 0.3px 2px;
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 10px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid rgb(175, 175, 175);
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

  a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(235, 146, 111);
  }
  
  /* selected link */
  a:active {
    color: rgb(70, 70, 70);
  }


 .bg2{
    background-image:url(bg2v2.jpg);
    background-size: cover;
    height: 1000px;
    
  }


button{
    background-color: rgb(235, 146, 111);
    border: none;
    color: rgb(0, 0, 0);
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius:6px;
}
button:hover {
    background-color: rgb(100, 55, 36);
    color: white;
  }


 /* New Tables */
 .myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    position: relative;
    top: 8px;
    border: 1px solid #ddd; /* Add a grey border */
    background-color: white;
    font-size: 18px; /* Increase font-size */
    color:black;
    font-family: sans-serif;
    box-shadow: 0.3px 0.3px 2px;
  }
  
  .myTable th, .myTable td {
    text-align: left; /* Left-align text */
    padding: 10px; /* Add padding */
  }
  
  .myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid rgb(175, 175, 175);
  }
  
  .myTable tr.header, .myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }